.todo-container {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 30%;
  padding: 1rem;
  display: inline-block;
  background-color: black;
  color: #fff;
  margin: 1rem;
  border-radius: 6%;
  font-size: medium;
  text-align: center;
  max-height: 30%;
  overflow-y: scroll;
  padding-bottom: 2%;
}
.todo-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: center;
}

.arrow {
  height: 40px;
  width: 40px;
}

.todo_item {
  margin: 2rem;
  display: flex;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  color: #f3f9fc;
  background-color: gray;
  font-size: medium;
  border: none;
  border-radius: 5px;
}

button:hover {
  box-shadow: 5px 5px rgba(226, 221, 221, 0.826);
  background-color: #328f8a;
}
