body {
  color: #fff;
  font-size: x-large;
}

.bg {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.central-container {
  position: absolute;
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: column;

  justify-content: center;
  height: 100vh;
  align-items: center;
  color: "#fff";
}

.goal-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: center;
}
.goal-input::placeholder {
  color: #fff;
  font-size: larger;

  /* font-weight: bold; */
}

.submit-arrow {
  height: 56px;
  width: 56px;
}

.goal-section {
  /* padding-top: 16px; */
  display: flex;
}
.date {
  font-size: xx-large;
}

.time {
  font-size: 12rem;
}
